name: Build and Push Docker Images

on:
  workflow_call:
    inputs:
      repo-name:
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  build-images:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
        include:
          - os: ubuntu-24.04
            system: x86_64-linux
          - os: ubuntu-24.04-arm
            system: aarch64-linux
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Build Docker Image for ${{ matrix.system }}
        run: nix build .#dockerImage.${{ matrix.system }}
      - name: Upload intermediate Docker Image for ${{ Matrix.system }}
        uses: actions/upload-artifact@v4
        with:
          path: result
          name: ${{ matrix.system }}.archive.tar.gz

  publish-images:
    runs-on: ubuntu-24.04-arm # ARM runners are slightly faster
    needs: [build-images]
    steps:
      - uses: actions/download-artifact@v5
        with:
          pattern: "*.archive.tar.gz"
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Merge intermediate Docker Images and upload.
        env:
          REPO_PATH: ${{ secrets.DOCKERHUB_USERNAME }}/${{inputs.repo-name}}
        run: |
          AMD_PATH=docker-archive:x86_64-linux.archive.tar.gz/result
          skopeo copy --preserve-digests $AMD_PATH docker://$REPO_PATH@@unknown-digest@@
          AMD_DIGEST=$(skopeo inspect $AMD_PATH | jq .Digest -r)

          ARM_PATH=docker-archive:aarch64-linux.archive.tar.gz/result
          skopeo copy --preserve-digests $ARM_PATH docker://$REPO_PATH@@unknown-digest@@
          ARM_DIGEST=$(skopeo inspect $ARM_PATH | jq .Digest -r)

          docker buildx imagetools create --tag $REPO_PATH:latest $REPO_PATH@$AMD_DIGEST $REPO_PATH@$ARM_DIGEST
